/*--------------------------------------------------------------
## Units
--------------------------------------------------------------*/
$unit: 5px;

/*--------------------------------------------------------------
## Colors
--------------------------------------------------------------*/
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #DAB075;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: #DAB075;
$color__text-main: #404040;
$color__text-header: #DAB075;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color_red_600: #e53935;

$color_green_600: #43A047;

$color_orange_300: #FFB74D;

$color_bluegrey_80: #ECEFF1;
$color_bluegrey_100: #CFD8DC;
$color_bluegrey_200: #B0BEC5;
$color_bluegrey_900: #263238;

$color_gold: #DAB075;
$color_gold_darker: #C79C5F;

$color_white: #ffffff;
$color_black: #000000;

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font_body: "Raleway", sans-serif, Arial, Helvetica, sans-serif;

/*--------------------------------------------------------------
## Font Size
--------------------------------------------------------------*/
$font_size_h1: 64px;
$font_size_h2: 56px;
$font_size_body: 16px;

/*--------------------------------------------------------------
## Mobile Sizing
--------------------------------------------------------------*/