.main-page {
	width: 1200px;
	margin: 0 auto;
}

.inner {
	padding: 20px 0;
}

.section-subtitle {
	font-family: "Great Vibes", cursive;
	font-size: 64px;
	margin: 0;
	color: $color_gold;
	text-align: center;
}

.section-title {
	font-family: "Raleway", sans-serif;
	font-size: 64px;
	font-weight: 900;
	margin: 0;
	margin-top: -45px;
	color: #263238;
	text-align: center;
}

.section-description {
	font-family: "Raleway", sans-serif;
	text-align: center;
	padding: 5px 30px;
}

.section-image {
	width: 550px;
	height: 384px;
	border-radius: 2px;
}

.front-content-container {
	display: flex;
	flex-direction: column;
}

.front-content {
	width: 50%;
	text-align: center;

	&.text {
		padding: 0 20px;
	}
}

.entry-content {
	margin: 60px 0;
}

.front-content-right {
	width: 50%;
	float: right;
}

.hours-bar {
	background: $color_gold;
	height: 80px;
	display: block;
}

.section-divider {
	height: 400px;
	text-align: center;
}

.section-divider-text {
	margin: auto;
}

.section-divider-subtitle {
	font-family: "Great Vibes", cursive;
	font-size: 64px;
	color: $color_gold;
}

.section-divider-title {
	font-family: "Raleway", sans-serif;
	font-size: 64px;
	font-weight: 900;
	margin: 0;
	margin-top: -25px;
	line-height: 60px;
	color: $color_white;
}

.stars-front {
	display: block;
	margin: 0 auto;
	width: 112px;
}

.footer-area {
	background: #263238;
	line-height: 400px;
}