.full {
	width: 100%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.main-page {
	width: 1200px;
	margin: 0 auto;
}

.inner {
	padding: 20px 0;
}

.section-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.section-subtitle {
	font-family: "Great Vibes", cursive;
	font-size: 64px;
	margin: 0;
	color: $color_gold;
	text-align: center;
	line-height: 40px;
	margin-top: 40px;
}

.section-title {
	font-family: "Raleway", sans-serif;
	font-size: 64px;
	font-weight: 900;
	margin: 0;
	color: #263238;
	text-align: center;
	line-height: 60px;
}

.section-text {
	text-align: center;
	padding: 0 30px;
}

.section-image {
	width: 550px;
	height: 384px;
}

.front-content-container {
	display: flex;
	flex-direction: column;
}

.front-content {
	width: 50%;
	text-align: center;
	height: 384px;
	align-self: auto;

	&.text {
		padding: 0 20px;
	}
}

.entry-content {
	margin: 60px 0;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.front-content-right {
	width: 50%;
	float: right;
}

.hours-bar {
	background: $color_gold;
	height: 80px;
	display: block;
}

.header-area {
	background: #FF5722;
	color: white;
	text-decoration: none;
}

.section-divider {
	height: 400px;
	width: 100%;
	text-align: center;
	display: block;
	display: flex;
	display-direction: row;
}

.section-divider-text {
	align-self: center;
	margin: auto;
}

.section-divider-subtitle {
	font-family: "Great Vibes", cursive;
	font-size: 64px;
	line-height: 40px;
	color: $color_gold;
}

.section-divider-title {
	font-family: "Raleway", sans-serif;
	font-size: 64px;
	font-weight: 900;
	margin: 0;
	color: $color_white;
	line-height: 60px;
}

.stars-front {
	display: block;
	margin: 20px auto;
}

.img-right {
	float: right;
	margin-top: 50px;
}

.footer-area {
	background: #263238;
	line-height: 400px;
}