.l-flex {
	display: flex;

	&.is-hori {
		flex-direction: row;
	}

	&.is-hori-rev {
		flex-direction: row-reverse;
	}

	&.is-vert {
		flex-direction: column;
	}

	&.is-vert-rev {
		flex-direction: column-reverse;
	}

	&.align-hori {
		justify-content: center;
	}

	&.align-vert {
		align-items: center;
	}
}