.header-area {
    color: white;
    text-decoration: none;
    height: $unit * 70;
}

.header-text {
    text-align: center;
}

.header-area-front {
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.header-subtitle {
    font-family: "Great Vibes", cursive;
    font-size: $font-size-h1;
    color: $color_gold;
    margin-bottom: $unit * -8;
    position: absolute;
    left: 0;
    right: 0;
    top: $unit * 30;
}

.header-title {
    font-family: "Raleway", sans-serif;
    font-size: $font-size-h1;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: $unit * 10;
}

.front-header {
    margin: auto;
    text-align: center;
}

.front-header-subtitle {
    margin: ($unit * -16) auto 0;
    font-family: "Great Vibes", cursive;
    font-size: 72px;
    color: $color_gold;
}

.front-header-title {
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-weight: 800;
    margin: ($unit * -12) 0 ($unit * -3);
}