.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.front-column-container {
    text-align: center;
    width: 46%;

    @media handheld and (max-width: $breakpoint-medium),
      screen and (max-device-width: $breakpoint-medium),
      screen and (max-width: $breakpoint-medium) {

        padding: 0 0 10px 0;
        width: 100%;
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        padding: 0px;
    }
}

.section-subtitle {
    font-family: $font-secondary;
    font-size: $font-x-large;
    font-weight: lighter;
    margin: 0;
    text-align: center;

    @media handheld and (max-width: $breakpoint-medium),
    screen and (max-device-width: $breakpoint-medium),
    screen and (max-width: $breakpoint-medium) {

        font-size: 56px;
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        font-size: 35px;
    }
}

.section-title {
    color: $color-bluegrey-900;
    font-family: $font-primary;
    font-size: $font-x-large;
    font-weight: 900;
    margin-top: -45px;
    margin-bottom: -5px;
    text-align: center;

    @media handheld and (max-width: $breakpoint-medium),
    screen and (max-device-width: $breakpoint-medium),
    screen and (max-width: $breakpoint-medium) {

        font-size: 56px;
        margin-top: -45px;
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        font-size: 30px;
        margin-top: -25px;
    }
}

.section-description {
    font-family: $font-primary;
    padding: 0 50px;
    text-align: center;

    @media handheld and (max-width: $breakpoint-medium),
    screen and (max-device-width: $breakpoint-medium),
    screen and (max-width: $breakpoint-medium) {

        padding: 0 80px;
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        font-size: 14px;
        padding: 0;
    }
}

.section-image {
    height: 384px;
    outline: 1px solid $color-white;
    outline-offset: -20px;
    width: 100%;

    @media handheld and (max-width: $breakpoint-medium),
    screen and (max-device-width: $breakpoint-medium),
    screen and (max-width: $breakpoint-medium) {

        display: none;
    }
}

.stars {
    display: inline-block;
    margin: 0 15px;

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        margin: 0 8px;
    }
}