.full {
	width: 100%;
}

.inner {
	padding: 20px 0;
}

.section-text {
}

.section-subtitle {
	font-family: "Great Vibes", cursive;
	font-size: 64px;
	margin: 0;
	color: $color_gold;
	text-align: center;
}

.section-title {
	font-family: "Raleway", sans-serif;
	font-size: 64px;
	font-weight: 900;
	margin-top: -45px;
    margin-bottom: -5px;
	color: #263238;
	text-align: center;
}

.section-description {
	text-align: center;
	padding: 0 40px;
}

.section-image {
	width: 550px;
	height: 384px;
}

.front-content-container {
	display: flex;
	flex-direction: column;
}

.front-content {
	width: 50%;
	text-align: center;
}

.entry-content {
	margin: 60px 0;
}

.front-content-right {
	width: 50%;
	float: right;
}

.hours-bar {
	background: $color_gold;
	height: 80px;
	display: block;
}

.header-area {
	background: #FF5722;
	color: white;
	text-decoration: none;
    height: 350px;
}

.section-divider {
	height: 400px;
	text-align: center;
}

.section-divider-text {
	margin: auto;
}

.section-divider-subtitle {
	font-family: "Great Vibes", cursive;
	font-size: 64px;
	color: $color_gold;
}

.section-divider-title {
	font-family: "Raleway", sans-serif;
	font-size: 64px;
	font-weight: 900;
	margin-top: -45px;
	color: $color_white;
}

.stars-front {
	display: block;
    width: 112px;
    margin: 0 auto;
}

.img-right {
	float: right;
	margin-top: 50px;
}

.footer-area {
	background: #263238;
	line-height: 400px;
}