.main-page {
	width: 1200px;
	margin: 0 auto;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.l-flex {
	display: flex;

	&.is-hori {
		flex-direction: row;
	}

	&.is-hori-rev {
		flex-direction: row-reverse;
	}

	&.is-vert {
		flex-direction: column;
	}

	&.is-vert-rev {
		flex-direction: column-reverse;
	}

	&.align-hori-center {
		justify-content: center;
	}

	&.align-vert-center {
		align-items: center;
	}

	&.align-vert-flex-start {
	align-items: flex-start;
	}

	&.align-hori-space-between {
		justify-content: space-between;
	}

	&.flex-wrap {
		flex-wrap: wrap;
	}
}

.is-rounded {
    border-radius: 3px;
}

$grid: '.grid' !default;
$grid-column: '.col' !default;
$grid-width: 80px;
$grid-margin: 0 10px 10px;

#{$grid} {
	width: 1200px;
	margin: 80px auto 30px;
	box-sizing: border-box;

	&:after {
	    content: "";
	    display: table;
	    clear: both;
	  }

	@for $i from 1 through 12 {
	    $width: $grid-width;

	    @if($i > 1) {
	      $num: $i - 1;
	      $width: $grid-width * $i + ($num * 20); // Account for margins on additional columns
	    }

	    #{$grid-column}-#{$i} {
	      width: $width;
	      margin: $grid-margin;
	      float: left;
	    }
  	}
}