.main-page {
    width: 1200px;
    margin: 0 auto;
}

.entry-content {
    margin: 20px 0;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.l-flex {
    display: flex;

    &.is-hori {
        flex-direction: row;
    }

    &.is-hori-rev {
        flex-direction: row-reverse;
    }

    &.is-vert {
        flex-direction: column;
    }

    &.is-vert-rev {
        flex-direction: column-reverse;
    }

    &.align-hori-left {
        justify-content: left;
    }

    &.align-hori-center {
        justify-content: center;
    }

    &.align-vert-center {
        align-items: center;
    }

    &.align-vert-flex-start {
        align-items: flex-start;
    }

    &.align-hori-space-between {
        justify-content: space-between;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }
}

.is-rounded {
    border-radius: 3px;
}