.menu-category {
    margin: 0 0 30px;
    color: $color_gold;
    font-family: $font_body;
    letter-spacing: 1px;
    border-bottom: 1px $color_bluegrey_80 solid;
    padding-bottom: 5px;
}

.menu-section {
    margin: 60px auto 30px;
}

.menu-list-container {
    margin-top: 25px;
    position: relative;
}

.menu-column-container {
    width: 46%;
}

.menu-category-container {
    width: 100%;
    margin-bottom: 50px;
}

// don't rename to .menu-item as it will conflict with navigation menu
.menu-list-item {
    color: $color_bluegrey_900;
    margin: 0;
    font-size: 18px;
    padding-right: 80px;
    display: inline-block;
    font-family: $font_body;
    font-weight: 600;
}

.menu-list-item-price {
    color: $color_bluegrey_200;
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    float: right;
    font-style: italic;
    font-family: $font_body;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-list-item-des {
    color: $color_bluegrey_200;
    margin: 0;
    font-size: 16px;
    padding-right: 80px;
    font-family: $font_body;
}