$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #DAB075;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: #DAB075;
$color__text-main: #404040;
$color__text-header: #DAB075;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


/*
** Red
**
*/

$color-red-600: #e53935;


/*
** Green
**
*/

$color-green-600: #43A047;


/*
** Orange
**
*/

$color-orange-50: #FFF3E0;
$color-orange-100: #FFE0B2;
$color-orange-200: #FFCC80;
$color-orange-300: #FFB74D;
$color-orange-400: #FFA726;
$color-orange-500: #FF9800;
$color-orange-600: #FB8C00;
$color-orange-700: #F57C00;
$color-orange-800: #EF6C00;
$color-orange-900: #E65100;


/*
** Blue Grey
**
*/

$color-bluegrey-50: #ECEFF1;
$color-bluegrey-100: #CFD8DC;
$color-bluegrey-200: #B0BEC5;
$color-bluegrey-300: #90A4AE;
$color-bluegrey-400: #78909C;
$color-bluegrey-500: #607D8B;
$color-bluegrey-600: #546E7A;
$color-bluegrey-700: #455A64;
$color-bluegrey-800: #37474F;
$color-bluegrey-900: #263238;


/*
** Gold
**
*/

$color-gold: #DAB075;
$color-gold-darker: #C79C5F;


/*
** Black & White
**
*/

$color-black: #000000;
$color-white: #ffffff;
