a {
    color: $color__link;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}

.edit-link {

    @media handheld and (max-width: $breakpoint-medium),
      screen and (max-device-width: $breakpoint-medium),
      screen and (max-width: $breakpoint-medium) {

        padding: 0;
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        padding: 0;
    }
}