/*
** Sizing
**
*/

.material-icons {

    &.md-18 {
        font-size: 18px;
    }

    &.md-24 {
        font-size: 24px;
    }

    &.md-36 {
        font-size: 36px;
    }

    &.md-48 {
        font-size: 48px;
    }
}



/*
** Coloring
**
*/

.material-icons {

    // black
    &.md-dark {
        color: rgba(0, 0, 0, 0.54);

        &.md-inactive {
            color: rgba(0, 0, 0, 0.26);
        }
    }

    // white
    &.md-light {
        color: rgba(255, 255, 255, 1);

        &.md-inactive {
            color: rgba(255, 255, 255, 0.3);
        }
    }

    // gold
    &.md-gold {
        color: #DAB075;
    }
}