.front-header {
	margin: auto;
	text-align: center;
}

.front-header-subtitle {
	margin: 220px auto 0;
	font-family: "Great Vibes", cursive;
	font-size: 72px;
	line-height: 55px;
	color: $color_gold;
}

.front-header-title {
	font-family: "Raleway", sans-serif;
	font-size: 100px;
	font-weight: 800;
	line-height: 75px;
}