.entry-footer {
	margin-top: 40px;
}

.edit-link {
}

.post-edit-link {
	background: $color__background-button;
	color: $color_white;
	padding: 5px 15px;
	text-decoration: none;
	border-radius: 2px;
	transition: all .4s;

	&:hover {
		color: $color_white;
		background: $color_gold_darker;

	}
}