button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
	background: $color__background-button;
	color: $color_white;
	line-height: 1;

	&:hover {
		background-color: $color_gold_darker;
		border: 0 !important;
		border-color: $color_gold_darker;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.button {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	margin: auto;
	padding: 12px 30px;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	letter-spacing: 2px;
	transition: all .4s;

	&.button-primary {
		color: $color_white;
		border: 1px solid $color_white;
		margin-top: 25px;

		&:hover {
			background: $color_white;
			border: 1px solid $color_white;
			color: $color_black;
		}
	}

	&.button-secondary {
		background: $color__background-button;
		color: $color_white;

		&:hover {
			background: $color_gold_darker;
			transition: .4s all;
			color: $color_white;
		}
	}
}