.section-divider {
    height: 400px;
    margin: auto;
    text-align: center;

    &.has-vert-margin {
        margin: 60px 0;
    }

    &.has-vert-margin-large {
        margin: 80px 0;
    }

    @media handheld and (max-width: $breakpoint-medium),
    screen and (max-device-width: $breakpoint-medium),
    screen and (max-width: $breakpoint-medium) {

        height: 350px;

        &.has-vert-margin {
            margin: 40px 0;
        }

        &.has-vert-margin-large {
            margin: 40px 0;
        }
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        height: 280px;

        &.has-vert-margin {
            margin: 40px 0;
        }

        &.has-vert-margin-large {
            margin: 40px 0;
        }
    }
}

.section-divider-text {
    margin: auto;

    @media handheld and (max-width: $breakpoint-medium),
      screen and (max-device-width: $breakpoint-medium),
      screen and (max-width: $breakpoint-medium) {

        padding: 90px 0;
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        padding: 80px 20px;
    }
}

.section-divider-subtitle {
    font-family: $font-secondary;
    font-size: $font-x-large;
    font-weight: lighter;
    margin: 0;

    @media handheld and (max-width: $breakpoint-medium),
      screen and (max-device-width: $breakpoint-medium),
      screen and (max-width: $breakpoint-medium) {

        font-size: $font-large;
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        font-size: 35px;
    }
}

.section-divider-title {
    color: $color-white;
    font-family: $font-primary;
    font-size: $font-x-large;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: -45px;

    @media handheld and (max-width: $breakpoint-medium),
      screen and (max-device-width: $breakpoint-medium),
      screen and (max-width: $breakpoint-medium) {

        font-size: $font-large;
        letter-spacing: 0;
        line-height: 50px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    @media handheld and (max-width: $breakpoint-small),
    screen and (max-device-width: $breakpoint-small),
    screen and (max-width: $breakpoint-small) {

        font-size: 30px;
        margin-top: -25px;
        margin-bottom: 0;
    }
}