input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border: 1px solid $color-bluegrey-100;
    border-radius: 3px;
    color: $color-bluegrey-900;
    font-size: $font-standard;
    padding: 12px;
    transition: all .4s;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="url"],
textarea {

    &:hover,
    &:focus {
        box-shadow: 0px 0px 10px 1px rgba(38,50,56 ,.2);
        color: $color_bluegrey-900;
        outline: none;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0, .2);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0, .1);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0, .1);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0, .1);
}

select {
    border: 1px solid $color__border-input;
}

textarea {
    height: 246px;
}

.contact-image {
    height: 384px;
    outline: 1px solid $color-white;
    outline-offset: -20px;
    width: 552px;
}