.header-area-front {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-subtitle {
    font-family: "Great Vibes", cursive;
    font-size: 64px;
    font-weight: lighter;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.header-title {
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 50px;
    text-align: center;
}

.front-header {
    margin: auto;
    text-align: center;
}

.header-front-subtitle {
    font-family: "Great Vibes", cursive;
    font-size: 72px;
    font-weight: lighter;
    line-height: 55px;
    margin: 0;
    margin-top: -60px;
}

.header-front-title {
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: -35px;
    margin-bottom: -15px;
}