.site-branding {
    display: inline-block;
    float: left;

    & h1 {
        margin: 0;
    }

    & .site-description {
        display: none;
    }
}

.site-title a {
    color: $color-white;
    font-family: $font-primary;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s;

    &:hover {
        color: $color__link-hover;
        transition: .5s all;
    }
}

.main-navigation {
    float: right;

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            float: left;
            position: absolute;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }

            a {
                width: 200px;
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }

    li {
        font-family: $font-primary;
        float: left;
        font-size: $font-standard;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 50px;
        position: relative;
        text-transform: uppercase;

        &:hover > a,
        &.focus > a {
        }
    }

    a {
        color: $color-white;
        display: block;
        padding: 0 20px;
        text-decoration: none;
        transition: 0.4s all;

        &:hover {

        }
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}
