.entry-footer {
	margin-top: 40px;
}

.footer-title {
	border-bottom: 1px solid $color-bluegrey-800;
	color: $color-white;
	letter-spacing: 1px;
	margin: 20px 350px;
	padding-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
}

.footer-area {
    background: $color-bluegrey-900;
}

.site-info {
	color: $color-bluegrey-700;
	font-size: 12px;
	letter-spacing: 2px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}