.entry-footer {
	margin-top: 40px;
}

.footer-title {
	text-align: center;
	text-transform: uppercase;
	color: $color-white;
	letter-spacing: 1px;
	padding-bottom: 30px;
	border-bottom: 1px solid $color-bluegrey-800;
	margin: 20px 250px;
}

.edit-link {
}

.post-edit-link {
	background: $color__background-button;
	color: $color-white;
	padding: 5px 15px;
	text-decoration: none;
	border-radius: 2px;
	transition: all .4s;

	&:hover {
		color: $color-white;
		background: $color_gold_darker;

	}
}

.footer-area {
    background: #263238;
}

.site-info {
	text-align: center;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 20px;
	color: white;
}