.widget {
    margin: 0 0 1.5em;

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
}

.fatfooter {
    margin-top: 30px;
}

.widget-area {
    color: white;
    width: 550px;
    text-align: center;
}

.widget-container {
    margin-bottom: 50px;
}